<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GuideSignupServlet</servlet-name>
  	<display-name>GuideSignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.guide.GuideSignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GuideLoginServlet</servlet-name>
  	<display-name>GuideLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.guide.GuideLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<display-name>StudentLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentSignupServlet</servlet-name>
  	<display-name>StudentSignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.StudentSignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterProjectServlet</servlet-name>
  	<display-name>RegisterProjectServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.RegisterProjectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InquiryServlet</servlet-name>
  	<display-name>InquiryServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.InquiryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProjectServlet</servlet-name>
  	<display-name>AddProjectServlet</display-name>
  	<description></description>
  	<servlet-class>com.guide.AddProjectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProjectServlet</servlet-name>
  	<display-name>ViewProjectServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.ViewProjectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitProjectServlet</servlet-name>
  	<display-name>SubmitProjectServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.SubmitProjectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminSignupServlet</servlet-name>
  	<display-name>AdminSignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.AdminSignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageUsersServlet</servlet-name>
  	<display-name>ManageUsersServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.ManageUsersServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageContentServlet</servlet-name>
  	<display-name>ManageContentServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.ManageContentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SettingsServlet</servlet-name>
  	<display-name>SettingsServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.SettingsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProjectsServlet</servlet-name>
  	<display-name>ViewProjectsServlet</display-name>
  	<description></description>
  	<servlet-class>com.guide.ViewProjectsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GradeProjectServlet</servlet-name>
  	<display-name>GradeProjectServlet</display-name>
  	<description></description>
  	<servlet-class>com.guide.GradeProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GuideSignupServlet</servlet-name>
  	<url-pattern>/GuideSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GuideLoginServlet</servlet-name>
  	<url-pattern>/GuideLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentSignupServlet</servlet-name>
  	<url-pattern>/StudentSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterProjectServlet</servlet-name>
  	<url-pattern>/RegisterProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InquiryServlet</servlet-name>
  	<url-pattern>/InquiryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProjectServlet</servlet-name>
  	<url-pattern>/AddProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProjectServlet</servlet-name>
  	<url-pattern>/ViewProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitProjectServlet</servlet-name>
  	<url-pattern>/SubmitProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminSignupServlet</servlet-name>
  	<url-pattern>/AdminSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageUsersServlet</servlet-name>
  	<url-pattern>/ManageUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageContentServlet</servlet-name>
  	<url-pattern>/ManageContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SettingsServlet</servlet-name>
  	<url-pattern>/SettingsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProjectsServlet</servlet-name>
  	<url-pattern>/ViewProjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GradeProjectServlet</servlet-name>
  	<url-pattern>/GradeProjectServlet</url-pattern>
  </servlet-mapping>
</web-app>
